Package: veeamhubrepo
Version: 0.3.1
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: github.com/veeamhub
Depends: python3-dialog, python3-pystemd, openssh-server, python3-psutil, nano, python3-yaml
Description: simple managers for immutable repositories
